#footer
.banner.banner-footer
  .container
    .row
      .col-lg-12.text-center
        h3 Made with
          span.love
            i.fa.fa-heart.fa
        p.muted &copy; 2014 Your Company, Inc.
    .row
      .col-lg-12
        hr
        .col-md-4
          ul.list-unstyled.list-inline
            li: a(href='#')
              i.fa.fa-facebook
            li: a(href='#')
              i.fa.fa-twitter
            li: a(href='#')
              i.fa.fa-pinterest
            li: a(href='#')
              i.fa.fa-instagram
            li: a(href='#')
              i.fa.fa-tumblr
        .col-md-8
          ul.list-unstyled.list-inline.pull-right
            li: a(href='/pages/contact-us') Contact
            li: a(href='/pages/about-us') About
            li: a(href='/pages/faqs') FAQs
            li: a(href='/pages/terms-of-use') Terms
            li: a(href='/pages/privacy-policy') Privacy
