#footer
//- @TODO: Externalize component
script(type='text/babel').
  ReactDOM.render(
    <div className="banner banner-footer">
      <div className="container">
        <div className="row">
          <div className="col-lg-12 text-center">
            <h3>Made with<span className="love"><i className="fa fa-heart fa"></i></span></h3>
            <p className="muted">&copy; 2016 Your Company, Inc.</p>
          </div>
        </div>
        <div className="row">
          <div className="col-lg-12">
            <hr/>
            <div className="col-md-4">
              <ul className="list-unstyled list-inline">
                <li><a href="#"><i className="fa fa-facebook"></i></a></li>
                <li><a href="#"><i className="fa fa-twitter"></i></a></li>
                <li><a href="#"><i className="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i className="fa fa-instagram"></i></a></li>
                <li><a href="#"><i className="fa fa-tumblr"></i></a></li>
              </ul>
            </div>
            <div className="col-md-8">
              <ul className="list-unstyled list-inline pull-right">
                <li><a href="/pages/contact-us">Contact</a></li>
                <li><a href="/pages/about-us">About</a></li>
                <li><a href="/pages/faqs">FAQs</a></li>
                <li><a href="/pages/terms-of-use">Terms</a></li>
                <li><a href="/pages/privacy-policy">Privacy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>,
  document.getElementById('footer')
  );
