#footer
.banner.banner-footer
  .container
    .row
      .col-lg-12.text-center
        h2 Made with
          span.love &#9825;
          | in Your City
        ul.list-unstyled.list-inline
          li: a(href='#') Blog
          li: a(href='#') Facebook
          li: a(href='#') Twitter
          li: a(href='#') Pinterest
          li: a(href='#') Instagram
    .row
      .col-lg-12
        hr
        .col-md-4
          p.muted &copy; 2014 Your Company, Inc.
        .col-md-8
          ul.list-unstyled.list-inline.pull-right
            li: a(href='/pages/contact-us') Contact
            li: a(href='/pages/about-us') About
            li: a(href='/pages/faqs') FAQs
            li: a(href='/pages/terms-of-use') Terms
            li: a(href='/pages/privacy-policy') Privacy
