extends layout

block content
  #page-header
  //- @TODO: Externalize component
  script(type='text/babel').
    ReactDOM.render(
      <div id="hero-page" className="jumbotron text-center abel">
        <div className="container">
          <h1 className="hero-text animated fadeInDown">!@#$&*()_+</h1>
        </div><br/>
      </div>,
    document.getElementById('page-header')
    );
    
  .container
    .row.text-center
      h1 Error 404
      p.lead The requested page could not be found
      ul.list-inline#help
        li: a(href="/") Home Page
        | /
        li: a(href="/contact-us") Contact Us
        | /
        li: a(href="/faqs") FAQs
