doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Kano is an open source project to help you build NodeJS Apps faster.')
    meta(name='keywords', content='NodeJS, ExpressJS, MongoDB, Jade Templates, Bootstrap 3, Mocha Tests')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='Eric The Robot')
    link(rel='shortcut icon', href='../img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='../img/favicon.ico', type='image/x-icon')
    title #{title} | Kano
    != css('styles')
  body
    #wrap
      include partials/navigation
      block content
    include partials/footer
    != js('application')
    //- script.
    //-   var _gaq = _gaq || [];
    //-   _gaq.push(['_setAccount', 'UA-XXXXX-X']);
    //-   _gaq.push(['_trackPageview']);

    //-   (function() {
    //-     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //-     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    //-     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    //-   })();
