extends ../layout

block content
  #hero-page.jumbotron.text-center.abel
    .container
      h1.hero-text.animated.fadeInDown
        i.fa.fa-picture-o
        | Aviary API
    br
  .container
    .row
    .btn-group.btn-group-justified
      a.btn.btn-kano-invert(href='http://developers.aviary.com/docs/web/setup-guide#constructor', target='_blank')
        i.fa.fa-check-square-o
        | API Overview
      a.btn.btn-kano-invert(href='http://developers.aviary.com/docs/web/setup-guide#saving', target='_blank')
        i.fa.fa-save
        | Saving Images
      a.btn.btn-kano-invert(href='http://developers.aviary.com/docs/web/setup-guide#styling', target='_blank')
        i.fa.fa-flask
        | CSS Styling
    br
    p: button.btn.btn-kano-invert(onclick='return launchEditor("city", "http://lorempixel.com/output/city-q-c-800-600-9.jpg");')
      i.fa.fa-magic
      | Edit Photo
    img#city(src='http://lorempixel.com/output/city-q-c-800-600-9.jpg')

    script(src='http://feather.aviary.com/js/feather.js')
    script.
      var featherEditor = new Aviary.Feather({
        apiKey: 'c83c98c0da041785',
        apiVersion: 3,
        theme: 'dark',
        tools: 'all',
        appendTo: '',
        onSave: function(imageID, newURL) {
          var img = document.getElementById(imageID);
          img.src = newURL;
        },
        onError: function(errorObj) {
          alert(errorObj.message);
        }
      });
      function launchEditor(id, src) {
        featherEditor.launch({
          image: id,
          url: src
        });
        return false;
      }