extends ../layout

block content
  #hero-page.jumbotron.text-center.abel
    .container
      h1.hero-text.animated.fadeInDown
        i.fa.fa-phone
        | Clockwork SMS API
    br
  .container
    .row
    .btn-group.btn-group-justified
      a.btn.btn-kano-invert(href='http://github.com/mediaburst/node-clockwork', target='_blank')
        i.fa.fa-check-square-o
        | Clockwork Node
      a.btn.btn-kano-invert(href='http://www.clockworksms.com/doc/clever-stuff/xml-interface/send-sms/', target='_blank')
        i.fa.fa-code-fork
        | XML API

    h4 Send a text message
    .row
      .col-sm-6
        form(role='form', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            .input-group
              input.form-control(type='text', name='telephone', placeholder='Phone Number (international format)')
              span.input-group-btn
                button.btn.btn-kano-invert(type='submit') Send
