extends ../layout

block content
  #hero-page.jumbotron.text-center.abel
    .container
      h1.hero-text.animated.fadeInDown
        i.fa.fa-phone
        | Twilio API
    br
  .container
    .row
    .btn-group.btn-group-justified
      a.btn.btn-kano-invert(href='http://twilio.github.io/twilio-node/', target='_blank')
        i.fa.fa-check-square-o
        | Twilio Node
      a.btn.btn-kano-invert(href='https://apigee.com/console/twilio', target='_blank')
        i.fa.fa-laptop
        | API Console
      a.btn.btn-kano-invert(href='https://www.twilio.com/docs/api/rest', target='_blank')
        i.fa.fa-code-fork
        | REST API

    h4 Send a text message
    .row
      .col-sm-6
        form(role='form', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            .input-group
              input.form-control(type='text', name='telephone', placeholder='Phone Number')
              span.input-group-btn
                button.btn.btn-kano-invert(type='submit') Send
