extends ../layout

block content
  #hero-page.jumbotron.text-center.abel
    .container
      h1.hero-text.animated.fadeInDown
        i.fa.fa-twitter
        | Twitter API
    br
  .container
    .row
    .btn-group.btn-group-justified
      a.btn.btn-kano-invert(href='https://github.com/ttezel/twit', target='_blank')
        i.fa.fa-file-text-o
        | Twit Library Docs
      a.btn.btn-kano-invert(href='https://dev.twitter.com/docs', target='_blank')
        i.fa.fa-check-square-o
        | Overview
      a.btn.btn-kano-invert(href='https://dev.twitter.com/docs/api/1.1', target='_blank')
        i.fa.fa-code-fork
        | API Endpoints

    br
    .lead Latest 50 Tweets containing "Kano" in NYC within 5 miles

    ul.list-unstyled
      for tweet in tweets
        li
          .panel.panel-default
            .panel-body
              .clearfix
                - var image = tweet.user.profile_image_url.replace('_normal', '');
                img.pull-left(src='#{image}', width=50, height=50, style='margin-right: 10px')

                =tweet.user.name
                small.text-muted  @#{tweet.user.screen_name}
                br
                small #{tweet.text}