extends ../layout

block content
  #hero-page.jumbotron.text-center.abel
    .container
      h1.hero-text.animated.fadeInDown
        | How It Works
    br

  .banner
    .container
      .row
        .col-lg-12.text-center
          h2 Your Tagline Here
              br
              br
            ul.list-inline.banner-social-buttons
             li
               a.btn.btn-kano-invert.btn-lg(href='/pages/how-it-works')
                   span.network-name Learn More
  .content-section-a
      .container
          .row
            .col-lg-5.col-sm-6
              h2.section-heading
                | Awesome Title 1
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales fermentum cursus. Nam sit amet urna bibendum sapien auctor scelerisque. Curabitur ullamcorper, orci ut dictum interdum, dolor mauris adipiscing metus, at placerat lorem quam sit amet sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .col-lg-5.col-lg-offset-2.col-sm-6
              img.img-responsive(src='http://lorempixel.com/output/people-q-c-640-480-1.jpg', alt='Image Text')
  .content-section-b
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          h2.section-heading
                | Awesome Title 2
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales fermentum cursus. Nam sit amet urna bibendum sapien auctor scelerisque. Curabitur ullamcorper, orci ut dictum interdum, dolor mauris adipiscing metus, at placerat lorem quam sit amet sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        .col-lg-5.col-sm-pull-6.col-sm-6
          img.img-responsive(src='http://lorempixel.com/output/people-q-c-640-480-2.jpg', alt='Image Text')
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          h2.section-heading
                | Awesome Title 3
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales fermentum cursus. Nam sit amet urna bibendum sapien auctor scelerisque. Curabitur ullamcorper, orci ut dictum interdum, dolor mauris adipiscing metus, at placerat lorem quam sit amet sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        .col-lg-5.col-lg-offset-2.col-sm-6
          img.img-responsive(src='http://lorempixel.com/output/people-q-c-640-480-3.jpg', alt='Image Text')
  .content-section-b
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          h2.section-heading
                | Awesome Title 4
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales fermentum cursus. Nam sit amet urna bibendum sapien auctor scelerisque. Curabitur ullamcorper, orci ut dictum interdum, dolor mauris adipiscing metus, at placerat lorem quam sit amet sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        .col-lg-5.col-sm-pull-6.col-sm-6
          img.img-responsive(src='http://lorempixel.com/output/people-q-c-640-480-4.jpg', alt='Image Text')
  div(style='background:#f5f5f5; padding:40px 0 30px 0;')
    .container
        .row
            .col-xs-12.col-sm-4.col-lg-4
              .box
                .icon
                  .image
                    i.fa.fa-lock
                  .info
                    h3.title Step 1
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales fermentum cursus. Nam sit amet urna bibendum sapien auctor scelerisque. Curabitur ullamcorper, orci ut dictum interdum, dolor mauris adipiscing metus.
            .col-xs-12.col-sm-4.col-lg-4
              .box
                .icon
                  .image
                    i.fa.fa-usd
                  .info
                    h3.title Step 2
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales fermentum cursus. Nam sit amet urna bibendum sapien auctor scelerisque. Curabitur ullamcorper, orci ut dictum interdum, dolor mauris adipiscing metus.
            .col-xs-12.col-sm-4.col-lg-4
              .box
                .icon
                  .image
                    i.fa.fa-users
                  .info
                    h3.title Step 3
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales fermentum cursus. Nam sit amet urna bibendum sapien auctor scelerisque. Curabitur ullamcorper, orci ut dictum interdum, dolor mauris adipiscing metus.