.panel.panel-default
  .list-group
      //- h4.list-group-item-heading testing
      a.list-group-item(href='/dashboard', class=title=='My Profile'?'active':undefined) My Profile
      a.list-group-item(href='/dashboard/settings', class=title=='Settings'?'active':undefined) Settings
      a.list-group-item(href='/dashboard/verifications', class=title=='Verifications'?'active':undefined) Verifications
