#dasbhoard-nav
//- @TODO: Externalize component + add ternary operator to check which link is active i.e: a.list-group-item(href='/pages/getting-started', className=title=='Getting Started'?'active':undefined) Getting Started

script(type='text/babel').
  ReactDOM.render(
    <div className="panel panel-default">
      <div className="list-group">
        <a href="/dashboard" className="list-group-item">My Profile</a>
        <a href="/dashboard/settings" className="list-group-item">Settings</a>
        <a href="/dashboard/verifications" className="list-group-item">Verifications</a>
      </div>
    </div>,
  document.getElementById('dasbhoard-nav')
  );
