#pages-nav
//- @TODO: Externalize component + add ternary operator to check which link is active i.e: a.list-group-item(href='/pages/getting-started', class=title=='Getting Started'?'active':undefined) Getting Started

script(type='text/babel').
  ReactDOM.render(
    <div className="panel panel-default">
      <div className="list-group">
        <a href="/pages/getting-started" className="list-group-item">Getting Started</a>
        <a href="/pages/about-us" className="list-group-item">About Us</a>
        <a href="/pages/our-team" className="list-group-item">Team</a>
        <a href="/pages/jobs" className="list-group-item">Jobs</a>
        <a href="/pages/press" className="list-group-item">Press</a>
        <a href="/pages/faqs" className="list-group-item">FAQs</a>
        <a href="/pages/privacy-policy" className="list-group-item">Privacy Policy</a>
        <a href="/pages/terms-of-use" className="list-group-item">Terms Of Use</a>
        <a href="/pages/contact-us" className="list-group-item">Contact Us</a>
      </div>
    </div>,
  document.getElementById('pages-nav')
  );
