#social-nav
//- @TODO: Externalize component
script(type='text/babel').
  ReactDOM.render(
    <div className="panel panel-default">
      <div className="list-group">
        <a href="/auth/facebook" className="btn btn-block btn-facebook btn-social"><i className="fa fa-facebook"></i>Sign in with Facebook</a>
        <a href="/auth/twitter" className="btn btn-block btn-twitter btn-social"><i className="fa fa-twitter"></i>Sign in with Twitter</a>
        <a href="/auth/google" className="btn btn-block btn-google-plus btn-social"><i className="fa fa-google-plus"></i>Sign in with Google</a>
        <a href="/auth/github" className="btn btn-block btn-github btn-social"><i className="fa fa-github"></i>Sign in with GitHub</a>
        <a href="/auth/linkedin" className="btn btn-block btn-linkedin btn-social"><i className="fa fa-linkedin"></i>Sign in with LinkedIn</a>
      </div>
    </div>,
  document.getElementById('social-nav')
  );
